{
  "extends": "react-app",
  "rules": {
    "eqeqeq": ["error", "always"],
    "curly": "error",
    "no-trailing-spaces": "error",
    "eol-last": ["error", "always"],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    "indent": ["error", 2],
    "jsx-quotes": ["error", "prefer-single"],
    "semi": ["error", "always"],
    "arrow-parens": ["error", "always"]
  }
}
