# Dependency directories
node_modules/

# Production build files
/build

# ESLint cache
.eslintcache

# Stylelint cache
.stylelintcache

# Coverage directory used by Jest
/coverage

# TypeScript compiled output
/dist
/out
/ts-build

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
Thumbs.db
/deprecated

# Netlify configuration file
.netlify
