/* Particles */

#particles-js {
    position: absolute;
    background-color: var(--primaryBackgroundColor);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 0;
}