.App {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Mobile CSS */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .name {
        font-size: calc(60px + 2vmin);
    }
    .title {
        font-size: calc(30px + 2vmin);
    }
    a {
        height: 75px;
        width: 75px;
        font-size: calc(10px + 2vmin);
    }
    .button {
        margin: .1vw;
        height: 75px;
        width: 75px;
    }
}