/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 20vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(64px + 2vmin);
  color: white;
}

h4 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
}

.bubble {
  display: inline-block;
  background-color: transparent;
  border: 3px solid gray;
  margin: 1vw;
  border-radius: 50%;
}

a {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100px;
  width: 100px;
  text-decoration: none;
  font-size: calc(6px + 2vmin);
}

.bubble .icon_title {
  display: none;
}

.bubble:hover .icon_title {
  display: initial;
}

.bubble:hover .icon {
  display: none;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */