html {
    overflow: hidden;
}

.App {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.name, .title {
    font-weight: normal;
    z-index: 1;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .7);
    /* box-shadow: 0 0 10px 10px rgba(150, 150, 150, .1); */
}

/* Name */

.name {
    font-size: calc(80px + 2vmin);
    padding-top: 0;
    margin-top: 0vh;
    margin-bottom: 2.5vh;
    color: #eeeeee;
}

/* Title */

.title {
    font-size: calc(40px + 2vmin);
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    color: #bbbbbb;
}

/* Icons */

a {
    height: 100px;
    width: 100px;
    color: #eeeeee;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: calc(10px + 2vmin);
    position: relative;
    z-index: 1;
    border-radius: 50%;
}

a:hover {
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 10px rgba(150, 150, 150, .2);
}

.button {
    display: inline-block;
    background-color: transparent;
    margin: .8vw;
    margin-bottom: 0;
    height: 100px;
    width: 100px;
    /* border: 2px solid lightslategray;
    border-radius: 50%; */
}

.button .icon_title {
    display: none;
}

.button:hover .icon_title {
    display: initial;
}

.button:hover .icon {
    display: none;
}

/* Particles */

#particles-js {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* Mobile CSS */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .name {
        font-size: calc(60px + 2vmin);
    }
    .title {
        font-size: calc(30px + 2vmin);
    }
    a {
        height: 75px;
        width: 75px;
        font-size: calc(10px + 2vmin);
    }
    .button {
        margin: .1vw;
        height: 75px;
        width: 75px;
    }
}