/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 20vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

html, body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background-color: #000;
}

.App-header {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
}

h1, h2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	z-index: 1;
	background-color: #000;
}

/* Name */

h1 {
	font-size: calc(80px + 2vmin);
	margin-top: 0vh;
	margin-bottom: 2.5vh;
	color: white;
}

/* Title */

h2 {
	font-size: calc(40px + 2vmin);
	margin-top: 2.5vh;
	margin-bottom: 5vh;
	color: lightgray;
}

/* Icons */

a {
	height: 100px;
	width: 100px;
	color: white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-size: calc(10px + 2vmin);
	position: relative;
	z-index: 1;
}

a:hover {
	background-color: #000;
}

.button {
	display: inline-block;
	background-color: transparent;
	margin: .5vw;
	margin-bottom: 0;
	/* border: 2px solid lightslategray;
	border-radius: 50%; */
}

.button .icon_title {
	display: none;
}

.button:hover .icon_title {
	display: initial;
}

.button:hover .icon {
	display: none;
}

/* Particles */

#particles-js {
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

/* Mobile CSS */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
	h1 {
		font-size: calc(60px + 2vmin);
	}
	h2 {
		font-size: calc(20px + 2vmin);
	}
	.button {
		margin: .1vw;
	}
	a {
		height: 75px;
		width: 75px;
		font-size: calc(10px + 2vmin);
	}
}